html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    max-width:65em;
    min-width:32em;
    margin:0 auto;
    background-color:#99ccff;
}

body h1 {
    font-size: 26px;
    font-family:'Tahoma';
    font-weight:bolder;
}

body h2 {
    font-size: 20px;
    font-family:'Tahoma';
    font-weight:bolder;
}

body h3 {
    font-size: 17px;
    font-family:'Tahoma';
    font-weight:bolder;
}

body p {
    font-size:14px;
    font-family:'Trebuchet MS';
    font-weight: light;
}

#page {
    background-color:#fff;
    width: 100%;
    height:100%;
    display:inline-table;
}

#foot {
    background-color:#0099cc;
    margin-bottom:-50px;
    width:65em;
    min-width:32em;
    float:left;

    border-top:1px solid #003366;
    -moz-box-shadow: -10px -10px 55px #888;
    -webkit-box-shadow: 0px 0px 55px #888;
    box-shadow: 0px 0px 30px #888;
}

#foot #foot_content {
    width: 100%;
    bottom:0;
    color:#fff;
    text-align: center;
    margin:0 auto;
    text-shadow:1px 1px 1px #000;
}

#foot #foot_content p {

    text-align: center;
}

#page ul li {
    font-family:"Trebuchet MS";
    font-size:14px;
}

#form_msg {
    font-family: "Trebuchet MS";
    font-size: 14px;
    padding:1em;
}

#social {
    height:32px;
    width:32px;
    padding:1em;
    border:0;
}

#social a {
    text-decoration: none;
}



#text_left_content {
    padding:1em;
    max-width:45em;
    min-width:30em;
    float:left;  

}

#text_right_content {
    max-width:20em;
    min-width:12em;
    float:right;    
    display: table;
    overflow:visible;
}

#header {
    background-image:url("../img/strip_bg.png");
    background-repeat: repeat-x;
    margin:0;
    height:250px;
}

#nav {
    background-color:#0099cc;
    color:#fff;
    height:50px;
    width:100%;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    font-family: Tahoma;
    float: left;
}

#nav ul {
    display:block;
    list-style-type:none;
    float:left;
    margin:0;
    padding:0;
}

#nav li {
    display:inline;
    padding:1em;
    float:left;
}

#nav li a {
    color:#fff;
    font-family: "Trebuchet MS";
    text-decoration: none;
    font-weight: bold;
}

form {
    font-family: "Trebuchet MS";
    font-size:14px;
}

form input {
    border:1px solid #d3d3d3;
    margin-bottom:5px;
}

form input[type="submit"]
{
    background-color: #0099cc;
    color:#fff;
    font-weight: bold;
    padding:6px;
}
label {
    display:block;
    font-size:14px;
    font-family:'Trebuchet MS';
    font-weight: light;
}